h1 {
  font-family: 'Gemunu Libre', sans-serif; font-size: 3em;
}
.left {
  text-align: center;
}

body { 
  background-color: #ff4d4d; font-family: 'Gemunu Libre', sans-serif;
}

h2 {
  font-size: 2em;
}